{% extends "template.html" %}
{% block content %}
    <h1>Hi, Boss! If you want to sign up:</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
      <tr>
        <td>Login</td>
        <td>Email</td>
        <td>Password</td>
      </tr>
      <tr>
        <td>{{form.username(size=32)}}</td>
        <td>{{form.email(size=50)}}</td>
        <td>{{form.password(size=50)}}</td>
      </tr>
      <tr>
        <td>{%for error in form.username.error %}
          <span style="color:red;">[{{error}}]</span>
          {%endfor%}
        </td>
        <td>{%for error in form.email.error%}
          <span style="color:red;">[{{error}}]</span>
          {%endfor%}
        </td>
        <td>{%for error in form.password.errors %}
        <span style="color:red;">[{{error}}]</span>
        {%endfor%}
        </td>
      </tr>
      <tr>
        <td>{{form.submit()}}</td>
      </tr>
    </table>
  </form>
  {% endblock %}
